*{font-family:"Times New Roman";
font-style:oblique;}
body{ background-color: #DEB887}
h1{text-align: center;

color: #000000;
text-height:40px;}
.menu{list-style:none;
margin:2;
padding-left: 20px;}
.menu li a {display:inline-block;
	width:65px;
	font-size:23px;
	color:#FFFF00;
padding-left: 20px;
background:linear-gradient(to top right, #800080,#000080);}
.menu li{display:inline-block;
	margin-left: 20px;}
	#left{background:#B0E2FF;
		font-size:21px;
		width: 67%;
		float:right;}
		#right{background:#00FF00;
			height:99%;
			font-size:20px;
			
			width: 99%;

		float: center;}
			#cente{margin:0 674px 0 578px ;}
	img{max-width:490px;
	max-height: 490px;
	padding:10px;
background:linear-gradient(to top left,#200, #eee);
bottom:100px;
}
h2{background:linear-gradient( to top ,#800080,#000080);
	font-size:25px;
	color:#FFFF00;
bottom:490px;
width:115px;}